

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dc3545;
  -webkit-transition: .4s;
  transition: .4s;
}

.school-table td,
.school-table th{
    text-align: center;
}

.view-btn,
.edit-btn {
    width: 86%;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3dd573;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3dd573;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.school-table{
    margin-top: 20px;
}

.modal-temp,
.modal-dialog{
top: 200px !important;
}

.cheader{
margin-top: 20px;
font-weight: 600;
font-size: 24px;
}
.container{
margin-left: 280px;
position: absolute;
top: 100px;
}
