<div class="container" >
<div class="card-header">
    School List
</div>

<table class="table table-bordered city-table">
    <thead class="thead-light">
        <tr>
            <th>School Code</th>
            <th>School Name</th>
            <th></th>
            <th></th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let school of schools">
            <td>{{school.schoolId}}</td>
            <td>{{school.name}}</td>
            <td>
                <button type="button" class="btn btn-primary view-btn" data-toggle="modal"
                    data-target="#detailModal">View</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary edit-btn" data-toggle="modal"
                    data-target="#editModal">Edit</button>
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
    </tbody>
</table>

<!-- school-details -->
<div class="modal fade" id="detailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">School Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Code</td>
                            <td>{{schools.schoolId}}</td>
                        </tr>
                        <tr>
                            <td>School Name</td>
                            <td>{{schools.name}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{schools.city}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{schools.state}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- school-edit -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">School Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="schoolC" class="form-label">School Code</label>
                        <input type="number" class="form-control" id="schoolC">
                    </div>
                    <div class="form-group">
                        <label for="schooN" class="form-label">School Name</label>
                        <input type="text" class="form-control" id="schoolN">
                    </div>
                    <div class="form-group">
                        <label for="schoolCity" class="form-label">School City</label>
                        <input type="text" class="form-control" id="schoolCity">
                    </div>
                    <div class="form-group">
                        <label for="schoolState" class="form-label">School State</label>
                        <input type="text" class="form-control" id="schoolState">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>