<div class="row">
	<div class="col-md-12">
		<div class="central-meta">
			<div class="frnds">
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link active frnd-btn" data-toggle="pill" href="#myfriend">My Friends</a>
					</li>
					<li class="nav-item">
						<a class="nav-link frnd-btn"  data-toggle="pill" href="#friendRequest">Friend Request</a>
					</li>
					<li class="nav-item">
						<a class="nav-link frnd-btn"  data-toggle="pill" href="#searchfriends">Search Friend</a>
					</li>
				</ul>
				
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane container active" id="myfriend">
						<ul class="nearby-contct">
							<li>
								<div class="nearly-pepls">
									<figure>
										<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
									</figure>
									<div class="pepl-info">
										<h4><a href="#" title="">jhon kates</a></h4>
										
										<a href="#" title="" class="add-butn" data-ripple="">unfriend</a>
									
									</div>
								</div>
							</li>
							<li>
								<div class="nearly-pepls">
									<figure>
										<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
									</figure>
									<div class="pepl-info">
										<h4><a href="#" title="">sophia Gate</a></h4>
										<span>tv actresses</span>
										<a href="#" title="" class="add-butn " data-ripple="">unfriend</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="tab-pane container fade" id="friendRequest">
						<ul class="nearby-contct">
							<li>
								<div class="nearly-pepls">
									<figure>
										<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
									</figure>
									<div class="pepl-info">
										<h4><a href="#" title="">jhon kates</a></h4>
										
										<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
									</div>
								</div>
							</li>
							<li>
								<div class="nearly-pepls">
									<figure>
										<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
									</figure>
									<div class="pepl-info">
										<h4><a href="#" title="">sophia Gate</a></h4>
										<span>tv actresses</span>
										<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
					<div class="tab-pane container fade" id="searchfriends">
						<div ng-app="myApp" ng-controller="namesCtrl">
							<input type="text" ng-model="test" class="frnd-search" placeholder="Search Friend">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>