<html>

<head>
    <title>Payment</title>

</head>

<body>
    <div>
        <h1>Payment Details</h1>
        <div class="container">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Room Type</td>
                        <td>:  Ac</td>
                    </tr>
                    <tr>
                        <td>School Name</td>
                        <td>:  Mits</td>
                    </tr>
                    
                  
                    <tr>
                        <td>Duration</td>
                        <td>:  From 20-02-19     To 28-02-19</td>

                    </tr>
                    <tr>
                                <td>Price</td>
                                <td>:  Rs.2500</td>
                            </tr>
                    <tr>
                                <td>Payment Mode</td>
                                <td>:  cash/e-wallet</td>
                            </tr>
                            
                   
                    <tr>
                        <td>Paid Amount</td>
                        <td>:  Rs.2500</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>