<div class="container">
    <div class="card event-list">
        <div class="card-header"><b>Roomspace Details</b></div>
        <div class="card-body">
            <div id="tabs" #tabs>
                <ul class="nav nav-tabs text-center">

                </ul>
                <table class="table table-bordered event-table events">
                    <thead class="thead-light">
                        <tr>
                            <th>RoomName</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-primary view-btn"
                                    style="float: right">View</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary edit-btn"
                                    style="float: right">Payment</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary edit-btn"
                                    style="float: right">Delete</button>
                            </td>

                        </tr>

                    </tbody>

                </table>





            </div>

        </div>
    </div>
</div>