<html>

<head>
    <title>view</title>

</head>

<body>
    <div>
        <h1>View Details</h1>
        <div class="container">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Room Type</td>
                        <td>:  Ac</td>
                    </tr>
                    <tr>
                        <td>School Name</td>
                        <td>:  Mits</td>
                    </tr>
                    <tr>
                        <td>Amenities</td>
                        <td>:  Washing Machine</td>
                    </tr>
                    <tr>
                        <td>Availability</td>
                        <td>:  Yes</td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td>:  From 20-02-19     To 28-02-19</td>

                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>:  Hyderabad</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>:  Rs.2500</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>

</html>