<div class="row">
    <div class="col-md-12">
        <div class="central-meta">
            <div class="filter">
                <span>Sort By</span>
                <div class="dropdown show">
                    <a class="btn drop-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        --Select--
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Type</a>
                        <a class="dropdown-item" href="#">Price (Low to High)</a>
                        <a class="dropdown-item" href="#">Price(High to Low)</a>
                    </div>
                </div>
            </div>
            <div class="rooms">
                <div class="card" style="padding:10px">
                    <div class="card-title">
                        1 BHK Flat Thane west <br>
                        Panchpakhadi, Near New India Co Operative Bank.
                    </div>
                    <div class="card-content">
                        <div class="open-details">
                            <table class="table table-bordered" style="text-align: center">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>
                                                <span>400</span>
                                                <span>sqft</span>
                                            </h3>
                                            <h5>Builtup</h5>
                                        </td>
                                        <td>
                                            <h3>
                                                <span>4000</span>
                                            </h3>
                                            <h5>Deposit</h5>
                                        </td>
                                        <td>
                                            <h3>
                                                <span>2000</span>
                                            </h3>
                                            <h5>Rent</h5>
                                        </td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <div class="room-space-details">
                                <div class="row">
                                    <div class="col-md-4">
                                        <figure class="room-img"><img src="assets/images/room.jpg" alt=""></figure>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="amenities">
                                            <table class="table table-bordered" style="text-align:center">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            AC
                                                        </td>
                                                        <td>
                                                            Free Wifi
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Full Furnished
                                                        </td>
                                                        <td>
                                                            Available
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button type="button" class="btn btn-primary payment-btn">Payment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>