
				<div class="row">
					<div class="col-md-3" style="text-align:center">
						<div class="user-avatar">
							<figure>
								<img src="assets/images/user-avatar2.jpg" alt="">
							</figure>
							<form class="edit-phto">
								<i class="fa fa-camera-retro"></i>
								<label class="fileContainer">
									Edit Display Photo
									<input type="file">
								</label>
							</form>
						</div>
						<a href="#" class="btn btn-primary edit-btn">Edit Your Profile</a>
					</div>
					<div class="col-md-9">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#home">Timeline</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#menu1">Friends</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#menu2">About</a>
							</li>
						</ul>
						
						
						<div class="tab-content">
							<div id="home" class="container tab-pane active"><br>
								<div class="central-meta">
									<div class="new-postbox">
										<figure>
											<img src="assets/images/user.jpg" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post">
												<textarea rows="2" placeholder="write something"></textarea>
												<div class="attachments">
													<ul>
														<li>
															<i class="fa fa-image"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<i class="fa fa-video"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<i class="fa fa-camera"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>
														<li>
															<button type="submit" class="btn btn-primary">Post</button>
														</li>
													</ul>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="loadMore">
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="assets/images/user.jpg" alt="">
												</figure>
												<div class="friend-name">
													<a href="time-line.html" title="">Janice Griffith</a>
													<span>published: june,2 2018 19:PM</span>
												</div>
												<div class="post-meta">
													<img src="assets/images/user-post.jpg" alt="">
													<div class="we-video-info">
														<ul>
															<li>
																<span class="like" data-toggle="tooltip" title="" data-original-title="like">
																	<i class="fa fa-heart"></i>
																	<span>2.2k</span>
																</span>
															</li>
														</ul>
													</div>
													<div class="description">
														<p>
															World's most beautiful car in Curabitur <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="menu1" class="container tab-pane fade"><br>
								<div class="central-meta">
									<div class="frnds">
										<ul class="nav nav-pills">
											<li class="nav-item">
												<a class="nav-link active frnd-btn" data-toggle="pill" href="#myfriend">My Friends</a>
											</li>
											<li class="nav-item">
												<a class="nav-link frnd-btn"  data-toggle="pill" href="#friendRequest">Friend Request</a>
											</li>
										</ul>
										
										<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane container active" id="myfriend">
												<ul class="nearby-contct">
													<li>
														<div class="nearly-pepls">
															<figure>
																<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
															</figure>
															<div class="pepl-info">
																<h4><a href="#" title="">jhon kates</a></h4>
																
																<a href="#" title="" class="add-butn " data-ripple="">unfriend</a>
																<!-- <a href="#" title="" class="add-butn" data-ripple="">add friend</a> -->
															</div>
														</div>
													</li>
													<li>
														<div class="nearly-pepls">
															<figure>
																<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
															</figure>
															<div class="pepl-info">
																<h4><a href="#" title="">sophia Gate</a></h4>
																<span>tv actresses</span>
																<a href="#" title="" class="add-butn" data-ripple="">unfriend</a>
																<!-- <a href="#" title="" class="add-butn" data-ripple="">add friend</a> -->
															</div>
														</div>
													</li>
												</ul>
											</div>
											<div class="tab-pane container fade" id="friendRequest">
												<ul class="nearby-contct">
													<li>
														<div class="nearly-pepls">
															<figure>
																<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
															</figure>
															<div class="pepl-info">
																<h4><a href="#" title="">jhon kates</a></h4>
																
																<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
															
															</div>
														</div>
													</li>
													<li>
														<div class="nearly-pepls">
															<figure>
																<a href="#" title=""><img src="assets/images/friend-avatar9.jpg" alt=""></a>
															</figure>
															<div class="pepl-info">
																<h4><a href="#" title="">sophia Gate</a></h4>
																<span>tv actresses</span>
																<a href="#" title="" class="add-butn" data-ripple="">Confirm</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="menu2" class="container tab-pane fade"><br>
								<div class="central-meta">
									<table class="table">
										<tbody>
											<tr>
												<td>User Id</td>
												<td>abc</td>
											</tr>
											<tr>
												<td>City</td>
												<td>abc</td>
											</tr>
											<tr>
												<td>State</td>
												<td>Maharashtra</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
		




