
<!-- <div class="" id="login-page" [class.d-none] = "submitted" >
    <div class="form-box">
        <div class="form-logo">
            <p class="text-center"><img src="../assets/images/lvk-logo.png" alt="logo"></p>
        </div>
        <form (ngSubmit)="loginUser()" #userForm="ngForm">
            <input type="text" class="form-control" placeholder="Email Id" [(ngModel)]="user.email" id="email" name="email">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" id="password" name="password">
            <input type="submit" class="btn btn-social" value="LOGIN" false/>
            
           
            <a routerLink="signup" class="login-action" title="Sign up">
                <p (click)="abc()">New User?&nbsp;Signup</p>
            </a>
            <button class="btn btn-lg btn-google btn-block  gbutton" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Github</button>
            <button class="btn btn-lg btn-facebook btn-block  lbutton" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with LinkedIn</button>
        </form>
    </div>
</div> -->


<br>
<router-outlet></router-outlet>
<br>

<footer class="login-footer text-center">
    Created By
</footer>

