<nav class="navbar navbar-expand-lg  bg-dark">
  <a class="navbar-brand" href="#">Live Kampus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Admin Name
        </a>
        
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br><br><br><br>
<div class="row sideb" >
  <div class="col-md-2 bg-dark left-sidebar" style="margin-top:24px">
    <div class="sidebar">
      <nav class="sidebar" >
        <div class="list-group" >
          
          <a  routerLink="userlist" class="list-group-item active">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>User</span>
          </a>
          <a  routerLink="citylist" class="list-group-item">
            <i class="fa fa-home"></i>&nbsp;
            <span>City</span>
          </a>
          <a routerLink="schoollist" class="list-group-item">
            <i class="fa fa-fw fa-university"></i>&nbsp;
            <span>School</span>
          </a>
          <a  routerLink="eventlist" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;
            <span>Events</span>
          </a>
          <a routerLink="roomspace" class="list-group-item">
            <i class="fa fa-fw fa-home"></i>&nbsp;
            <span>Room Space</span>
          </a>
          <a routerLink="notification" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>Notification</span>
          </a>
          
        </div>
      </nav>
    </div>
  </div>
 
     
      <router-outlet></router-outlet>
     
      
      

  </div>