<div class="row">
    
    <div class="col-md-12">
        <div class="central-meta">
            <div class="messages">
                <h5 class="f-title"><i class="fa fa-bell"></i>All Messages</h5>
                <div class="message-box">
                    <ul class="peoples ps-container ps-theme-default ps-active-y" data-ps-id="e452abb5-7c23-eae5-affd-11ec4ca3e701">
                        
                        <li>
                            
                            <figure>
                                <img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status f-online"></span>
                            </figure>
                            <div class="people-name">
                                <span>Molly cyrus</span>
                            </div>
                        </li>
                        <li>
                            
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status f-away"></span>
                            </figure>
                            <div class="people-name">
                                <span>Andrew</span>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="assets/images/friend-avatar9.jpg">
                                <span class="status f-online"></span>
                            </figure>
                            
                            <div class="people-name">
                                <span>jason bourne</span>
                            </div>
                        </li>
                        <li>
                            
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status off-online"></span>
                            </figure>
                            <div class="people-name">
                                <span>Sarah Grey</span>
                            </div>
                        </li>
                        <li>
                            
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status f-online"></span>
                            </figure>
                            <div class="people-name">
                                <span>bill doe</span>
                            </div>
                        </li>
                        <li>
                            
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status f-away"></span>
                            </figure>
                            <div class="people-name">
                                <span>shen cornery</span>
                            </div>
                        </li>
                        <li>
                            
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status off-online"></span>
                            </figure>
                            <div class="people-name">
                                <span>kill bill</span>
                            </div>
                        </li>
                        <li>
                            
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status f-online"></span>
                            </figure>
                            <div class="people-name">
                                <span>jasmin walia</span>
                            </div>
                        </li>
                        <li>
                            <figure><img src="assets/images/friend-avatar9.jpg" alt="">
                                <span class="status f-online"></span>
                            </figure>
                            <div class="people-name">
                                <span>neclos cage</span>
                            </div>
                        </li>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 462px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 359px;"></div></div></ul>
                        <div class="peoples-mesg-box">
                            <div class="conversation-head">
                                <figure><img src="assets/images/friend-avatar9.jpg" alt=""></figure>
                                <span>jason bourne </span>
                            </div>
                            <ul class="chatting-area ps-container ps-theme-default ps-active-y" data-ps-id="7b27019b-9142-c6c7-4344-0015a1a17b64">
                                <li class="you">
                                    <figure><img src="assets/images/friend-avatar9.jpg" alt=""></figure>
                                    <p>what's liz short for? :)</p>
                                </li>
                                <li class="me">
                                    <figure><img src="assets/images/friend-avatar9.jpg" alt=""></figure>
                                    <p>Elizabeth lol</p>
                                </li>
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -106px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 106px; height: 322px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 80px; height: 242px;"></div></div></ul>
                                <div class="message-text-container">
                                    <form method="post">
                                        <textarea></textarea>
                                        <button title="send"><i class="fa fa-paper-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        